/* .error{
    color: red;
    font-size: 12px;
} */

.valid{
    border-color: green;
}
.invalid{
    border-color: red;
}

.formulario{
    /* width: 300px; */
    margin:0 auto;
    padding: 20px;
    border: 1px solid gray;
}

.body-vet{
    background: #7b4397;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #dc2430, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #dc2430, #7b4397); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}